<section class="cart-page">

  <div class="cart-header">
    <p class="subtitle">Shopping Bag</p>
    <h1>Carrinho</h1>
  </div>

  <div
    class="empty-cart"
    *ngIf="items().length === 0"
  >
    <p>O teu carrinho está vazio.</p>

    <a href="/products">
      Ver produtos
    </a>
  </div>

  <div
    class="cart-content"
    *ngIf="items().length > 0"
  >

    <div class="cart-list">

      <article
        class="cart-item"
        *ngFor="let item of items()"
      >

        <img
          [src]="item.product.image"
          [alt]="item.product.name"
        >

        <div class="cart-info">

          <p class="category">
            {{ item.product.category }}
          </p>

          <h3>
            {{ item.product.name }}
          </h3>

          <p class="description">
            {{ item.product.description }}
          </p>

          <strong>
            {{ item.product.price | currency:'EUR' }}
          </strong>

          <div class="quantity-control">

            <button
              type="button"
              (click)="decrease(item.product.id)"
            >
              -
            </button>

            <span>
              {{ item.quantity }}
            </span>

            <button
              type="button"
              (click)="increase(item.product.id)"
            >
              +
            </button>

          </div>

        </div>

        <div class="item-total">

          <strong>
            {{ item.product.price * item.quantity | currency:'EUR' }}
          </strong>

          <button
            class="remove-button"
            type="button"
            (click)="remove(item.product.id)"
          >
            Remover
          </button>

        </div>

      </article>

    </div>

    <aside class="cart-summary">

      <h2>Resumo</h2>

      <div class="summary-row">
        <span>Subtotal</span>

        <strong>
          {{ total() | currency:'EUR' }}
        </strong>
      </div>

      <div class="summary-row">
        <span>Envio</span>

        <strong>Grátis</strong>
      </div>

      <div class="summary-total">
        <span>Total</span>

        <strong>
          {{ total() | currency:'EUR' }}
        </strong>
      </div>

      <button
        class="checkout-button"
        (click)="finishOrder()"
      >
        Finalizar Compra
      </button>

    </aside>

  </div>

</section>