<section class="products-page">

  <div class="products-header">
    <p class="subtitle">New Collection</p>
    <h1>Produtos</h1>
  </div>

  <div
    class="products-grid"
    *ngIf="products$ | async as products"
  >

    <article
      class="product-card"
      *ngFor="let product of products"
    >

      <div class="image-wrapper">
        <img
          [src]="product.image"
          [alt]="product.name"
        >
      </div>

      <div class="product-info">

        <div class="product-top">

          <h3>
            {{ product.name }}
          </h3>

          <p class="price">
            {{ product.price | currency:'EUR' }}
          </p>

        </div>

        <p class="category">
          {{ product.category }}
        </p>

        <a
          class="view-button"
          [href]="'/products/' + product.id"
        >
          Ver Produto
        </a>

      </div>

    </article>

  </div>

</section>